---
interface Props {
  t: any;
  initialTitle: string;
}

const { t, initialTitle } = Astro.props;
---

<div id="resource-preview-container" class="mb-8">
  <div class="flex items-center justify-center p-12 bg-stone-50 border border-stone-100 rounded-2xl animate-pulse">
    <p class="text-stone-300 font-black uppercase tracking-widest text-xs">{t.target}</p>
  </div>
</div>
